body {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #a8a8a8;
}

#todo-list {
    margin-top: 20px;
}

.finished {
    text-decoration: line-through;
    color: #6c757d;
}

.input-group {
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group-text {
    color: #fff;
    border: none;
}

.form-control {
    border: none;
    color: #000;
}

.dropdown-menu {
    border: 1px solid #ced4da;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group-text input[type="checkbox"] {
    width: 1.4em;
    height: 1.3em;
    border: 2px solid #000000;
    background-color: #812557;
    border-radius: 0.25em;
    outline: none;
    margin-top: 0.25rem;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.input-group-text input[type="checkbox"]:checked {
    border-color: #812557;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #fff;
}

body.dark-mode .input-group {
    border-color: #444;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode .input-group-text input[type="checkbox"] {
    border-color: #fff;
    background-color: #333;
}

.dark-mode-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}